<html>
    <head> 
      {% include "components/default/admin-panel-header.html.twig" %}  
      <link type="text/css" rel="stylesheet" href="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.css"/>
      <link type="text/css" rel="stylesheet" href="{{site.uri.public}}/mywebsite/js/chartist-js/dist/chartist.min.css"/>
      <script type="text/javascript" src="{{site.uri.public}}/mywebsite/js/get_smsStats.js"></script>

      <script src="{{site.uri.public}}/mywebsite/js/chartist-js/dist/chartist.min.js"></script>

      <script type="text/javascript" src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.js"></script>
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/Leaflet.draw.js"></script>
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/Leaflet.Draw.Event.js"></script>
      <link rel="stylesheet" href="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/leaflet.draw.css"/>
      
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/ext/GeometryUtil.js"></script>
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/ext/LatLngUtil.js"></script>
      
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/Control.Draw.js"></script>
      
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/draw/handler/Draw.Feature.js"></script>
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/draw/handler/Draw.SimpleShape.js"></script>

      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/draw/handler/Draw.Marker.js"></script>
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/draw/handler/Draw.Circle.js"></script>
      <script src="{{site.uri.public}}/mywebsite/js/leaflet/leaflet.draw/draw/handler/Draw.CircleMarker.js"></script>
    </head>
  <body>
    <main>
    
      <!-- Include the Admin Panel Navigation bar-->
      {% include "components/default/admin-panel-nav-bar.html.twig" %}
      
      <br><br>
      <form id="inputForm" name="inputForm" method="POST" onsubmit="">
        <div class="row container">
            <div id="alertId_div" class="input-field col s4 offset-s4">
                <input id="alertId" type="text" class="validate">
                <label for="alertId">Alert ID</label>
            </div>
        </div>
        <div class="row container"> 
          <div class="center">
            <button class="btn-large waves-effect waves-light" type="submit" name="action">Search</button>
          </div>                  
        </div>
      </form>
      <span class="black-text"><h5 id="hostnameAndFilenameResult"></h5></span>
      <div id="wait" class="row container center">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-red-only ">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
            <div class="col s6">
                <div id="CampaignMessage"></div>
              </div>
            <div id="map" class="col s6">  
              <div class="card white">
                <div id="mapid" style="width: inherit; height: 600px;"></div>
              </div>
            </div>
        </div>
      </div>
      <div id="Result" class="row"></div>
      <div id="Chart" class="row">
        <div class="col s8">  
          <div class="card white">
            <div class="ct-chart" style="width: inherit; height: 300px;"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

             

