.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    
}

/* Tooltip text */
.tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: #FFCCCC;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;
     
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;   
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFCCCC transparent transparent transparent;
}
.tooltiptextleft {
    visibility: visible;
    width: 120px;
    background-color: #FFCCCC;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 150px;
    bottom: 0%;
    left: 0%; 
    margin-left: -150px;
     
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;   
}

.tooltiptextleft::after {
    content: " ";
    position: absolute;
    top: 50%; /* At the bottom of the tooltip */
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFCCCC transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container 
.tooltip:hover .tooltiptext {
    visibility: visible;
}*/